.quarto-title-block .quarto-title-banner {
  background-image: url(https://reefcloud.ai/static/media/coreLogoName.04eb209b6a92259208f9d8edb621bc4c.svg);
  background-size: 400px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-origin: content-box;
}